@import "./../../../style";
.quatre {
	background-color: $accent;
	position: absolute;
	height: var(--dynamic-size);
	width: var(--dynamic-size);
	top: var(--dynamic-top);
	left: var(--dynamic-left);
	top: var(--dynamic-top);
	@media (max-width: 900px) {
		height: calc(var(--dynamic-size) * 0.75);
		width: calc(var(--dynamic-size) * 0.75);
		top: calc(var(--dynamic-top) * 1);
	}
	@media (max-width: 425px) {
		top: calc(var(--dynamic-top) * 0.85);
	}
}
@keyframes moveHorizontal {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(75px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(75px);
	}
	100% {
		transform: translateY(0px);
	}
}
.horizontal {
	animation: moveHorizontal var(--animation-speed, 5s) linear infinite;
}

.vertical {
	animation: moveVertical var(--animation-speed, 5s) linear infinite;
}
